{% extends "base.html" %}

{% block title %}Inbox{% endblock title %}

{% block content %}

        <div class="page-content">
            <div class="row">
              <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                        <li><a href="/newmessage"><i class="glyphicon glyphicon-pencil"></i> New Message</a></li>
                        <li class="current"><a href="/inbox"><i class="glyphicon glyphicon-envelope"></i> Inbox</a></li>
                        <li><a href="/sentmessages"><i class="glyphicon glyphicon-send"></i> Sent</a></li>
                        <li><a href="/deletedmessages"><i class="glyphicon glyphicon-trash"></i> Deleted Messages</a></li>
                        <li><a href="/calendar"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                        <li><a href="/weather"><i class="glyphicon glyphicon-cloud"></i> Weather</a></li>
                        <li><a href="{{ logout_url}}"><i class="glyphicon glyphicon-user"></i> Sign Out</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-md-10">
                <div class="row">


                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content-box-header">
                                    <div class="panel-title">Inbox</div>
                                </div>
                                <div class="content-box-large box-with-header">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1">From</th>
                                                <th>Message</th>
                                                <th class="col-md-2">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-align">

                                            {% for message in messages %}

                                                <tr>
                                                    <td>{{ message.sender_name }}</td>
                                                    <td><a class="link-not-blue" href="/inbox/{{ message.key.id() }}"><strong class="subject">{{ message.subject }}</strong> - {{ message.message[:150] }}...</a></td>
                                                    <td>{{ message.date.strftime('%d. %m. %Y, %H:%M') }}</td>
                                                </tr>

                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>


{% endblock content %}